*{
     font-family: "Ubuntu", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: #fff;
}

/* ---------- HEADER ---------- */

header{
     display: flex;
     justify-content: start;
     align-items: center;
     height: 100vh;	
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/header_img.jpg);
     background-position: center;
     background-size: cover;
	background-repeat: no-repeat;
}

header .container{
     margin-left: 3%;
     color: #fff;
     width: 100%;
}

header .container div{
     display: flex;
     align-items: end;
}

header .container div img{
     height: 110px;
}

header .container div h1{
     font-size: 80px;
     margin-left: 10px;
}

header .container p{
     font-size: 35px;
     margin-top: 20px;
}





/* ---------- MAIN ---------- */

/* ----- info ----- */

.info{
     display: flex;
     justify-content: center;
     align-items: start;
     height: 1200px;
     background: url(./img/main_img.png);
     background-size: cover;
     background-position: center;
}

.info .container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 230px;
}

.info .container p{
     color: #fff;
     font-size: 40px;
     text-align: center;
}

.info .container a{
     background: #cf8608;
     border: 2px solid #fff;
     padding: 20px 30px;
     color: #fff;
     border-radius: 15px;
     text-decoration: none;
     margin: 50px;
     font-size: 30px;
     transition: all .5s;
}

.info .container a:hover{
     background: #cf8608ac;
}





/* ----- services ----- */

.services{
     margin-top: 90px;
}

.services .container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.services .container h2{
     text-align: center;
     font-size: 64px;
     font-weight: 700;
     line-height: 74px;
}

.services .container hr.line{
     width: 500px;
     border: 3px solid black;
     border-radius: 2px;
     margin-top: 25px;
}

.services .item{
     display: flex;
     align-items: center;
     margin-top: 70px;
     flex-wrap: wrap;
     justify-content: center;
}

.services .item .information h2{
     text-align: center;
     margin-bottom: 15px;
     font-size: 24px;
     font-weight: 700;
     line-height: 37px;
}

.services .item .information ul{
     margin-left: 25px;
}

.services .item .information p,
.services .item .information ul li{
     width: 490px;
     margin: 0 50px;
     font-size: 20px;
     font-weight: 400;
     line-height: 31px;
}

/* slider */
 
.slider {
     flex: 1;
}
 
.main-slider {
     width: 600px;
     text-align: center;
     margin-bottom: 10px;
}
 
.main-slider img {
     width: 70%;
     height: 270px;
}
 
.thumbnail-slider {
     width: 600px;
     height: 80px;
}
 
.thumbnail-slider .swiper-slide {
     width: 25%;
     height: 100%;
}
 
.thumbnail-slider img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     transition: transform 0.3s;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev:after,
.swiper-button-next:after {
     color: black;
}





/* ----- partners ----- */

.partners{
     margin-top: 100px;
}

.partners .container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.partners .container .partners__info h2{
     margin: 10px;
     text-align: center;
     font-family: 'OpinionPro', Arial, sans-serif;
     font-weight: 600;
     color: #000000;
     font-size: 42px;
     line-height: 1.23;
}

.partners .container .partners__list{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-top: 25px;
}

.partners .container .partners__list img{
     /* width: 18%; */
     margin: 30px;

}





/* ----- works ----- */

.works{
     margin-top: 50px;
}

.works .container{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.works .container .works__info h2{
     margin: 10px;
     text-align: center;
     font-family: 'OpinionPro', Arial, sans-serif;
     font-weight: 600;
     color: #000000;
     font-size: 42px;
     line-height: 1.23;
}

.works .works__list{
     margin: 50px;

     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.works .works__list img{
     width: 300px;
     margin: 30px;
}





/* ---------- FOOTER ---------- */

footer{
     margin: 70px 0;
}

footer .container {
     margin: 0 auto;
}

footer h1 {
     text-align: center;
     font-family: 'OpinionPro', Arial, sans-serif;
     font-weight: 600;
     color: #000000;
     font-size: 42px;
     line-height: 1.23;
     margin-bottom: 80px;
}

.contacts {
     display: flex;
     justify-content: center;
     margin: 0 30px;
}

.contact-info {
     font-family: OpinionPro;
     margin-right: 70px;
}

.contact-info p,
.contact-info p strong{
     margin: 5px 0;
     line-height: 1.2;
     font-family: OpinionPro;
     font-size: 18px;
}

.contact-info p:first-of-type{
     font-family: 'OpinionPro', Arial, sans-serif;
}

.contact-info a {
     color: #000;
     text-decoration: none;
     font-weight: bold;
}

.contact-info a:hover {
     text-decoration: underline;
}

.contact-form {
     width: 470px;
     display: flex;
     flex-direction: column;
}

.contact-form #phone{
     width: 100%;
}

.contact-form input{
     height: 60px;
}

.contact-form input,
.contact-form textarea {
     padding: 0 20px;
     line-height: 1.33;
     margin-bottom: 25px;
     font-size: 16px;
     border: 1px solid #c7c7c7;
}

.contact-form textarea {
     resize: vertical;
     padding-top: 17px;
     height: 102px;
     margin-top: 25px;
}

.contact-form button {
     padding: 20px 60px;
     font-size: 16px;
     border: none;
     border-radius: 30px;
     background-color: #454034;
     color: #fff;
     cursor: pointer;
     align-self: flex-start;
     transition: .5s;
}

.contact-form button:hover {
     background-color: #a37939
}





@media (max-width: 1300px) {
     /* services */
     .slider {
          margin-top: 30px;
     }
      
     .main-slider {
          width: 480px;
          text-align: center;
          margin-bottom: 10px;
     }
      
     .main-slider img {
          width: 70%;
          height: 240px;
     }
      
     .thumbnail-slider {
          width: 400px;
          height: 60px;
     }
      
     .thumbnail-slider .swiper-slide {
          width: 25%;
          height: 100%;
     }
}

@media (max-width: 1100px) {
     /* header */
     header .container div img{
          height: 90px;
     }
     
     header .container div h1{
          font-size: 65px;
          margin-left: 15px;
     }
     
     header .container p{
          font-size: 30px;
     }
}


@media (max-width: 768px) {
     /* header */
     header .container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }

     header .container div img{
          height: 65px;
     }
     
     header .container div h1{
          font-size: 41px;
     }
     
     header .container p{
          font-size: 18px;
     }

     /* info */
     .info{
          height: 100vh;
     }
     
     .info .container{
          margin-top: 22%;
          margin-right: 30px;
          margin-left: 30px;
     }
     
     .info .container p{
          font-size: 34px;
     }
     
     .info .container a{
          text-align: center;
          width: 60%;
          padding: 15px 20px;
          margin: 50px;
          font-size: 22px;
     }

     /* services */
     .services{
          margin-top: 50px;
     }

     .services .container h2{
          font-size: 42px;
     }

     .services .container hr.line{
          width: 350px;
          border: 2px solid black;
          margin-top: 10px;
     }

     .services .item .information h2{
          margin-bottom: 10px;
          font-size: 24px;
     }
     
     .services .item .information p,
     .services .item .information ul li{
          width: 80%;
          margin: 0 auto;
          font-size: 16px;
     }

     /* partners */
     .partners{
          margin-top: 70px;
     }

     .partners .container .partners__info h2{
          font-size: 28px;
     }

     .partners .container .partners__list img{
          width: 20%;
          margin: 10px;
     }

     /* works */     
     .works .container .works__info h2{
          font-size: 28px;
     }

     .works .works__list{
          margin: 30px;
     }
     
     .works .works__list img{
          width: 150px;
          margin: 10px;
     }

     /* footer */
     footer{
          width: 70%;
          margin: 0 auto;
     }

     .contacts {
         flex-direction: column;
         text-align: center;
         margin-bottom: 50px;
     }
     
     .contact-info{
          margin-bottom: 25px;
     }

     .contact-info,
     .contact-form {
         width: 100%;
     }
 
     footer h1 {
         font-size: 28px;
         margin-bottom: 20px;
     }
 
     .contact-form input {
         height: 45px;
     }
 
     .contact-form textarea {
         height: 80px;
     }
 
     .contact-form button {
         padding: 15px 30px;
         width: 100%;
         height: 60px;
     }
}
 
@media (max-width: 480px) {
     /* header */
     header .container div img{
          height: 50px;
     }
     
     header .container div h1{
          font-size: 26px;
     }
     
     header .container p{
          font-size: 14px;
     }

     /* info */
     .info{
          height: 400px;
     }
     
     .info .container{
          margin-top: 15%;
          margin-right: 30px;
          margin-left: 30px;
     }
     
     .info .container p{
          font-size: 16px;
     }
     
     .info .container a{
          text-align: center;
          width: 50%;
          padding: 10px;
          margin: 30px;
          font-size: 10px;
     }

     /* services */
     .services{
          margin-top: 20px;
     }

     .services .container h2{
          font-size: 26px;
     }

     .services .container hr.line{
          width: 200px;
          border: 2px solid black;
          margin-top: -10px;
     }

     .services .item .information h2{
          margin-bottom: 10px;
          font-size: 20px;
          overflow: hidden;
     }
     
     .services .item .information p,
     .services .item .information ul li{
          width: 60%;
          margin: 0 auto;
          font-size: 14px;
     }

     .slider {
          margin-top: 15px;
     }
      
     .main-slider {
          width: 300px;
          margin-bottom: 5px;
     }
      
     .main-slider img {
          width: 70%;
          height: 150px;
     }
      
     .thumbnail-slider {
          width: 250px;
          height: 60px;
     }
     
     /* footer */
     .contacts {
          margin-bottom: 50px;
     }

     .contact-info p,
     .contact-info p strong {
         font-size: 14px;
     }
 
     footer h1 {
         font-size: 24px;
         margin-bottom: 15px;
     }
 
     .contact-form input {
         height: 40px;
     }
 
     .contact-form textarea {
         height: 70px;
     }
 
     .contact-form button {
         padding: 10px 20px;
     }
}